.canvas-wrapper {
  width: 100%;
  height: 700px;
  background-color: #3c3f41;
  position: relative;
}

.canvas-wrapper h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #DFDFDF;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.canvas-wrapper .canvas-background {
  background-image: url("../yosemite-bg.jpg");
  background-size: cover;
  width: 70%;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas-wrapper .canvas-background canvas {
  width: 100%;
  height: 500px;
  background-color: transparent;
}
